body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.delete-button, .home-button, .camera-button, .submit-button {
    background-color: #be1e1e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.delete-button i, .home-button i, .camera-button i, .submit-button i {
    margin-right: 8px;
}

.delete-button:hover, .home-button:hover, .camera-button:hover, .submit-button:hover {
    background-color: #cabd06;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hero:hover {
    transform: translateY(-10px);
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    font-size: 18px;
    margin: 10px 0 5px;
}

.form-container input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.camera-container {
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    height: 300px;
    background-color: #e0e0e0;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.camera-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}